:root {
  --main-dark: rgb(38, 17, 43);
  --main-dark-translucent: rgba(38, 17, 43,0.75);
  --main-light: rgb(245,240,240);
  --main-light-translucent: rgba(245,240,240,0.75);

  --postal-blue:rgba(20,20,255,0.75);
  --postal-red: rgba(255,20,20,0.75);
}
body {
  background: 
    radial-gradient(
      circle at 50% 37.5%, 
      var(--main-light-translucent,rgba(255,255,255, 0.75)), 
      var(--main-dark-translucent,rgba(0,0,0, 0.75)) 55%
    );

  color: var(--main-light,white);
}

.container {
  width: 94%;
  display: block;
  margin: 5vh auto;
  background-color: var(--main-dark-translucent,rgba(255,255,255, 0.75));
  padding: 2rem 10% 10vh;
  height:100vh;


}

.envelope {
  border: 15px solid;
  border-image: 
  repeating-linear-gradient(
    45deg,
    var(--postal-blue,rgba(0,0,255, 0.75)),
    var(--postal-blue,rgba(0,0,255, 0.75)) 20px,
    var(--main-light-translucent,rgba(255,255,255, 0.75)) 20px,
    var(--main-light-translucent,rgba(255,255,255, 0.75)) 40px,
    var(--postal-red,rgba(255,0,0, 0.75)) 40px,
    var(--postal-red,rgba(255,0,0, 0.75)) 60px,
    var(--main-light-translucent,rgba(255,255,255, 0.75)) 60px,
    var(--main-light-translucent,rgba(255,255,255, 0.75)) 80px
  ) 15;
  padding: 2rem 5%;  
}

.messageDisplay {
  border: 1px solid #fbfbfb;
  padding: 10px;
  box-shadow: 5px 5px 10px #d3d2d2;
}
.buttonContainer{
  text-align: center;
}
.buttonStyle{
 margin: auto;
}

@media (min-width: 600px) {
  .container {
    width: 90%;
    padding: 1.5rem 4%;
  }
}
