body {
  background-image: url(mail-box.jpg);
}

.App {
  width: 94%;
  display: block;
  margin: 1rem auto;
  background-color: rgba(255,255,255, 0.5);
  padding: 1rem 2.5%
  
}


@media (min-width: 600px) {
  .App {
    width: 90%;
    padding: 1.5rem 4%;
  }
  to {
    transform: rotate(360deg);
  }
}
.messageDisplay {
  border: 1px solid #fbfbfb;
  padding: 10px;
  box-shadow: 5px 5px 10px #d3d2d2;
}
.buttonContainer{
  text-align: center;
}
.buttonStyle{
 margin: auto;
}