:root {
  --main-dark: rgb(38, 17, 43);
  --main-dark-translucent: rgba(38, 17, 43,0.75);
  --main-light: rgb(245,240,240);
  --main-light-translucent: rgba(245,240,240,0.75);

  --postal-blue:rgba(20,20,255,0.75);
  --postal-red: rgba(255,20,20,0.75);
}
body {
  color: var(--main-dark, indigo);
  margin: 0;
}

.container {
  width: 100%;
  display: block;
  padding: 0 0 10vh;
  height:100vh;
}
h1 {
  color: var(--main-light-translucent);
  text-shadow: 1px 1px 0 var(--main-dark-translucent),
               -1px 1px 0 var(--main-dark-translucent),
                1px -1px 0 var(--main-dark-translucent),
               -1px -1px 0 var(--main-dark-translucent)
  ;
  box-shadow: 0 5px 8px var(--main-dark-translucent);
  padding: 1em 0;
}

.envelope {
  box-sizing: border-box;
  border: 15px solid;
  border-image: 
  repeating-linear-gradient(
    45deg,
    var(--postal-blue,rgba(0,0,255, 0.75)),
    var(--postal-blue,rgba(0,0,255, 0.75)) 20px,
    var(--main-light-translucent,rgba(255,255,255, 0.75)) 20px,
    var(--main-light-translucent,rgba(255,255,255, 0.75)) 40px,
    var(--postal-red,rgba(255,0,0, 0.75)) 40px,
    var(--postal-red,rgba(255,0,0, 0.75)) 60px,
    var(--main-light-translucent,rgba(255,255,255, 0.75)) 60px,
    var(--main-light-translucent,rgba(255,255,255, 0.75)) 80px
  ) 15;
  padding: 2rem 5%;  
}

.messageDisplay {
  border: 1px solid #fbfbfb;
  padding: 10px;
  box-shadow: 5px 5px 10px #d3d2d2;
}
.buttonContainer{
  text-align: center;
}
.buttonStyle{
 margin: auto;
}
h1, button.btn, button.btnbutton.btn-success {
  border-color: var(--main-dark-translucent);
  background: 
  radial-gradient(
    circle at 0 0, 
    /* var(--main-light-translucent,rgba(255,255,255, 0.75)),  */
    var(--postal-blue),
    var(--main-dark,indigo),
    var(--postal-red) 
  );
}
button.btn:hover, button.btnbutton.btn-success:hover, button.btn:active, button.btnbutton.btn-success:active, button.btn:focus, button.btnbutton.btn-success:focus {
  background-color: var(--main-dark, indigo);
}

@media (min-width: 600px) {
  .container {
  }
}
